
@model DoMinhTriet_KTraFE.Models.ViewModel.HomeProductVM

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Css/StyleHome.css" />


<div id="textFeature">
    <div>
        <div class="title">Sản phẩm nổi bật</div>
        <div>Danh sách những sản phẩm theo xu hướng mà có thể bạn sẽ thích</div>

    </div>

    <div class="button-container1">
        <a href="~/Home/FeaturedDetail">
            <button class="explore-button">Khám Phá</button>
        </a>
    </div>

</div>
@if (Model.FeaturedProducts != null && Model.FeaturedProducts.Any())
{
    <div class="product-grid">
        <div class="prodContainer">
            @foreach (var product in Model.FeaturedProducts)
            {
                <div class="product-item">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                        <div>
                            <img src="@Html.DisplayFor(modelItem => product.ProductImage)" style="width:279.2px; height:132.95px;" class="img-fluid" />
                        </div>
                        <div class="prodDescription">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </div>
                        <div class="prodPrice">
                            @product.ProductPrice.ToString("N0")₫
                        </div>
                        <div class="prodSale">
                            Đã bán:&nbsp; @Html.DisplayFor(modelItem => product.OrderDetails.Count)
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <tr>
        <d>Không có sản phẩm nào để hiển thị.</d>
    </tr>
}


