@model DoMinhTriet_KTraFE.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <h4>CHI TIẾT SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</p>
